.title{
    height: 100px;
    width: 450px;    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
h1{
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin: -15px;
}
h1 span{
    color: red;
}
.cap{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    align-items: center;
}
.information{
    
}
.section{
    color: white;
    font-size: 13px;
    margin-bottom: 10px;
}
.field{
    height: 650px;
    width: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7)
    
}
input, select{
    height: 20px;
    width: 470px;
    font-size: 11px;
}
.radio{
    color: white;
    font-size: 13px;    
    height: 5%;
}
.check{
    color: white;
    font-size: 13px;
}
.gender{
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: row;
    width: 50px; 

}
.feedback{
    color: black;
    font-size: 13px;
    height: 50px;
    margin-top: 0px;
    background-color: white;
}
.feed{
    color: white;
    margin-bottom: 0px;
}
.sub{
    height: 40px;
    width: 80px;
    color: white;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
