*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kayseri{
    background-image: url("./images/Kayseri-1.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header{
    height: 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(243, 83, 83);
    
    
}

.logo{
   height: 80px;
}
.links{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;   
    list-style-type: none;    
    gap: 20px;
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    
    color: blueviolet;
    text-decoration: underline;
}
.title{
    color: brown;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 200px;
}
.text{
    margin-top: 100px;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    text-align: center;    
}
.title1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 50px;
    height: 50px;
    background-color: #F35353;    
}
.title2{
    font-family: Arial, Helvetica, sans-serif;
}
.text1{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;   
    padding: 0px 50px;
    text-indent: 30px;
    text-align: justify;
    line-height: 30px;    
}
.location{    
    justify-items: center;
    text-align: center;
}
.map{
    height: 400px;
}
.bold{
    font-weight: bolder;
}
.com{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 250px;
}
.send{
    height: 25px;
    width: 600px;
    background-color: rgb(244, 179, 58);
    border-radius: 5px;
}
.send:hover{
    background-color: purple;
    color: white;
}
.name{
   
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px;
    
}
#name{
    height: 60px;
    width: 500px;
    text-align: center;
    background-color: rgb(241, 238, 238);
    border-style: none;
    border-radius: 5px;
}
.info{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: flex-end;
}
.foods{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;    
}
.card{
    border: 2px solid;
    height: 800px;
    width: 600px;
    gap: 15px;
    /* padding: 0px 50px; */
    background-color: aqua;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
.foodName{
    margin-top: 0%;
    border-radius: 20px;
    height: 10%;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: Arial, Helvetica, sans-serif;
    background-color: greenyellow;   
    font-weight: bold;
}
.foodImg{
    height: 50%;
    width: 550px;
}
#recipe{
    height: 40%;
    width: 550px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 0.9rem;    
    background-color: rgba(0, 255, 255, 0.2)
}

.dropdown-content{
    background-color: #F35353;
    font-size: 1.1rem;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px  8px 16px rgba(0,0,0,0.2);   
    display: none;    
}
#culture:hover .dropdown-content{
    display: block;
}
.drop{
    color: white;
    padding: 5px;
}
.dropdown-content a{
    display: block;
}

