#both{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-content: center;
    align-items: center;


}
#result{
    height: 250px;
    width: 200px;
    background-color: blueviolet;
    color: white;
}

#summary{
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    text-align: left;

}
#sum{
    height: 30px;
    width: 150px;
    display: flex;    
    text-align: left;
    display: flex;
}
#reaction{
    height: 30px;
    width: 150px;
    display: flex;
    align-content: center;
    color: red;
    background-color: rgb(239, 228, 230);
}
#memory{
    height: 30px;
    width: 150px;
    display: flex;
    align-content: center;
    color: orange;
    background-color: rgb(243, 243, 231);
}
#verbal{
    height: 30px;
    width: 150px;
    display: flex;
    align-content: center;
    color: green;
    background-color: rgb(232, 239, 232);
}
#visual{
    height: 30px;
    width: 150px;
    display: flex;
    align-content: center;
    color: blue;
    background-color: rgb(227, 227, 234);
}
#continue{
    height: 30px;
    width: 150px;
    display: flex;
    align-content: center;
    color: white;
    background-color: black;
}