.all{
    border: 4px solid;border-color: rgb(182, 205, 228);
    /* border: "3"; */
    height: 310px;
    width: 458px;
    display: flex;
    background-color: white;    
    align-items: center;
    justify-content: center;
    
}
#sem{
    display: flex;
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    align-items: center;
    justify-content:center;    
    width: 250px;    
}
.navbar{
    display: flex;
    gap:18px;    
    justify-content: center;    
    background-color: hsl(180, 19%, 95%);
    /* background-color: yellow; */
    height: 270px;
    width: 50%;    
    padding: 15px 15px;
    flex-direction: column;
    color: white;    
    text-align: center; 
    margin-left: 15px;   
    
}

#header{
    height: 35px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content:center;
    align-items: center;
}
#nav{
    height: 35px;
    width: 100%;
    background-color: rgb(80, 172, 198);
    display: flex;
    justify-content:center;
    align-items: center;
}
#together{
    height: 180px;
    width: 100%;
    display: flex;    
    flex-direction: row;
    gap: 10px;
}
#sub{
    display:flex ;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    
    display: flex;    
    align-content: center;
}
#section{
    height: 65px;
    width: 110px;
    background-color: rgb(98, 130, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#article{
    height: 65px;
    width: 110px;
    background-color: rgb(236, 217, 150);
    display: flex;
    justify-content: center;
    align-items: center;
}
#aside{
    height: 150px;
    width: 30%;
    background-color:rgb(121, 119, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    
        
}
#footer{
    height: 35px;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content:center;
    align-items: center;
}